---
import Layout from '../layouts/Layout.astro';
import BentoGrid from '../components/BentoGrid.astro';
---

<Layout title="Home | Chunyang">
    <div class="py-10">
        <BentoGrid />
    </div>
</Layout>