---
import Layout from '../layouts/Layout.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Hobbies from '../components/Hobbies.astro';
---

<Layout title="Home | Chunyang">
    <div class="max-w-6xl mx-auto px-4 py-10 pb-20">
        <div class="max-w-5xl mx-auto">
            <BentoGrid />
        </div>
        <div class="mt-8">
            <Hobbies />
        </div>
    </div>
</Layout>
